@font-face {
  font-family: "MATROSKA";
  src: url("fonts/MATROSKA.ttf.woff") format("woff"),
    url("fonts/MATROSKA.ttf.svg#MATROSKA") format("svg"), url("fonts/MATROSKA.ttf.eot"),
    url("fonts/MATROSKA.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UltimateTeam-Icons";
  src: url("fonts/UltimateTeam-Icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UltimateTeamCondensed";
  src: url("fonts/UltimateTeamCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@import url("https://freakpants.ch/fut/php/css_new_card.css");

body {
  margin: 0;
  background: unset;
  font-family: 'UltimateTeamCondensed';
}

h1{
  font-family: 'UltimateTeamCondensed';
  color:#eb6200;
  margin-top: 10px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 70px;
}

.card.fifa22{
  height: 520px;
    margin-top: 25px;
}

.card.fifa22.small{
  transform: scale(.4);
  height: 150px;
}

#bottom, #top{
  z-index: -1;
}

.nation{
  cursor: pointer;
}

#bottom{
  background: url("assets/bottom.png");
  background-size: cover;
  width: 100vw;
  height: 16vw;
  bottom: 0px;
  aspect-ratio: 6380/1149;
  position: fixed;
}

#top{
  background: url("assets/top.png");
  width: 100vw;
  background-size:cover;
  position: fixed;
  aspect-ratio: 6380/1022;
}

.ut-item-player-status--loan{
  font-size: 36px;
  width: 50px;
  line-height: 50px;
  z-index: 1;
  height: 50px;
  right: 121px;
  top: 416px;
  /* display: block; */
  position: absolute;
  z-index: 3;
  text-align: center;
  font-family: UltimateTeamCondensed;
  font-weight: 600;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 25%);
  background: linear-gradient(to bottom,#44a7db 0,#42a2d4 100%);
  color: #fff;
  border-radius: 25px;
}

#root{
  position: absolute;
  overflow-y: scroll;
  top: 0px;
  bottom: 120px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#root::-webkit-scrollbar {
  display: none;
}


body{
  margin-bottom: 20px;
  padding-top:20px;
}

.untradeable:before{
  font-family: UltimateTeam-Icons,sans-serif;
  color: white;
  right: calc(50% + 16px);
  top: 16px;
  position: absolute;
  width: 1.1em;
  content: "\E07F";
  z-index: 2;
  font-size: 50px;
}

.MuiGrid-item{
  display:flex;
  justify-content: center;
}

.pack h1{
  font-size: 40px;
  color: #f8eede;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: unset;
  height: 144px;
}

.pack.pack{
  color: #f8eede;
  border: 1px solid #556c95;
  padding: 20px;
  width: 410px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-family: 'UltimateTeamCondensed';
}

.pack img{
  margin-top:20px;
  margin-bottom: 20px;
}

.pack.MuiCard-root{
  background-color: #1e242a;
}

#root{
  width: 100vw;
}

.count-container{
  display: flex;
    flex-direction: row;
    width: 100%;
}

.count-element{
  flex-grow: 1;
  text-align: center;
}

.modify-count{
  cursor: pointer;
}

.statsline.statsline{
  font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(23 111 153);
    margin-bottom: 30px;
}
